/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1ba098;
}

html {
  background-color: #051622;
}

/* button {
  background-color: #1ba098;
  border-width: 3px;
  border-color: #1ba098;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
} */
/* 
button:hover {
    background-color: #051622;
    border-color: #1BA098;
  } */
